* {
  margin: 0;
  padding: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}

html,
body {
  max-width: 100vw;
  min-height: 100vh;
}

header {
  background-color: rgb(53, 0, 53);
  color: white;
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
  padding: 2vw;
}
h1 a {
  text-decoration: none;
  color: white;
}

li a {
  font-size: 25px;
  text-decoration: none;
  color: white;
}

header ul {
  display: flex;
}

header li {
  list-style: none;
  margin: 20px;
}

header nav {
  display: flex;
  justify-content: space-between;
}

.choose-player {
  display: flex;
  justify-content: space-around;
  margin-left: 2vw;
  margin-right: 2vw;
  margin-top: 5vh;
}

.choose-player img {
  border: solid black 2px;
  padding: 1em;
  border-bottom-right-radius: 1em;
  border-bottom-left-radius: 1em;
  border-top-left-radius: 1em;
  width: 27vw;
}

.battle-arena {
  display: none;
  background-image: url("maxresdefault.jpg");
  background-size: cover;
  height: 84vh;
}
.battle-arena img {
  width: 20vw;
  height: 50vh;
}
.animals {
  margin: auto;
  margin-top: 5vh;
  width: 80vw;
  display: grid;
  grid-template-columns: 20vw 1fr 20vw;
}

.friendly-animal {
  grid-column: 1;
}

.enemy-animal {
  grid-column: 3;
}

.fighting-moves {
  display: flex;
  justify-content: center;
  flex-direction: column;
  grid-column: 2;
  grid-row: 1;
}

button {
  display: flex;
  margin-bottom: 0.5em;
  margin-left: 1em;
  margin-right: 1em;
  display: inline-block;
  padding: 15px 25px;
  font-size: 24px;
  cursor: pointer;
  text-align: center;
  text-decoration: none;
  outline: none;
  color: #fff;
  border: none;
  border-radius: 15px;
  box-shadow: 0 9px #999;
}

.attack {
  background-color: orange;
}
.heal {
  background-color: #4caf50;
}
.health {
  font-size: 1.5em;
  background-color: orangered;
  text-align: center;
  border-bottom-right-radius: 1em;
  border-bottom-left-radius: 1em;
}
.enemy-health {
  grid-column: 3;
  grid-row: 2;
}

.player-health {
  grid-column: 1;
  grid-row: 2;
}

.result button {
  display: flex;
  justify-content: center;
  margin: auto;
  background-color: #9654cc;
}
.result {
  display: none;
}

.winner {
  font-size: 3em;
  text-align: center;
  margin-bottom: 1em;
}

footer {
  width: 100vw;
  position: absolute;
  bottom: 0;
  height: 5vh;
  display: flex;
  justify-content: space-around;
  white-space: nowrap;
  background-color: rgb(53, 0, 53);
  color: rgb(216, 185, 247);
}
