* {
  margin: 0;
  padding: 0;
}

header {
  background-color: rgb(53, 0, 53);
  color: white;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  padding: 1vw;
}

li a {
  font-size: 1.5rem;
  text-decoration: none;
  color: white;
}

header ul {
  display: flex;
}

header li {
  list-style: none;
  margin: 20px;
}

header nav {
  display: flex;
  justify-content: space-between;
}

h1 {
  margin: auto;
  text-align: center;
  background-color: rgba(255, 255, 255, 0.2);
  width: 20vw;
  border: solid rgb(53, 0, 53) 5px;
  border-style: dotted;
  border-radius: 1em;
}

img {
  width: 100%;
  height: 70vh;
}
h2 {
  text-align: center;
  font-size: 3rem;
  margin-top: 5vh;
}
.fancy-picture {
  display: grid;
  grid-template-rows: 1fr 3fr 1fr 0.2fr;
  height: 50vh;
  background-repeat: no-repeat;
  background-size: cover;
  text-align: center;
}

.fancy-picture h3 {
  grid-row: 1;
  margin: auto;
  font-size: 1.9rem;
  background-color: orangered;
  border-radius: 1em;
  padding: 6px 12px;
}

.fancy-picture a {
  grid-row: 3;
  margin: auto;
  background-image: linear-gradient(
    to bottom right,
    rgb(43, 43, 128),
    rgb(187, 62, 204)
  );
  color: white;
  text-decoration: none;
  padding: 12px 24px;
  border-radius: 2em;
}

.fighting {
  background-image: url("fighting.png");
}

.ludo {
  background-image: url("ludo.png");
}

footer {
  list-style: none;
  height: 5vh;
  display: flex;
  justify-content: space-around;
  white-space: nowrap;
  background-color: rgb(53, 0, 53);
  color: rgb(216, 185, 247);
}
