* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}

html,
body {
  max-width: 100vw;
  min-height: 100vh;
}

header {
  background-color: rgb(53, 0, 53);
  color: white;
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
  padding: 1%;
}

li a {
  font-size: 25px;
  text-decoration: none;
  color: white;
}

header ul {
  display: flex;
}

header li {
  list-style: none;
  margin: 20px;
}

header nav {
  display: flex;
  justify-content: space-between;
}

.info {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.info p {
  width: 30vw;
  height: 12em;
  margin: 1em;
  padding: 1em;
  border: black solid 0.15em;
  border-radius: 2em;
  background-color: blueviolet;
}

.info aside {
  display: flex;
  justify-content: center;
}
.info aside p {
  background-color: orangered;
  height: 7em;
}

.rounded {
  border-radius: 1rem;
}

.grid {
  display: grid;
  width: 80vh;
  height: 80vh;
  margin: auto;
}

.ten-col-even {
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
}

.ten-row-even {
  grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
}

.grid.centered {
  place-items: center;
}

.center {
  align-items: center;
}

.green {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  grid-row-start: 3;
  grid-row-end: 8;
  grid-column: 8;
}

.green2 {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  grid-row-start: 3;
  grid-row-end: 8;
  grid-column: 9;
}

.green3 {
  display: flex;
  justify-content: space-around;
  grid-row: 7;
  grid-column-start: 10;
  grid-column-end: 14;
}

.green-spawn {
  grid-area: 2 / 11 / 6 / 15;
  border: 5px solid green;
}

.green-square {
  background-color: green;
  height: 100%;
  width: 100%;
  border-radius: 100%;
}

.green-player {
  background-color: rgb(0, 80, 0);
}

.G-player1 {
  grid-column: 12;
  grid-row: 3;
}

.G-player2 {
  grid-column: 12;
  grid-row: 4;
}

.G-player3 {
  grid-column: 13;
  grid-row: 3;
}

.G-player4 {
  grid-column: 13;
  grid-row: 4;
}

.red {
  display: flex;
  justify-content: space-around;
  grid-row: 8;
  grid-column-start: 3;
  grid-column-end: 8;
}

.red2 {
  display: flex;
  justify-content: space-around;
  grid-row: 7;
  grid-column-start: 3;
  grid-column-end: 8;
}

.red3 {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  grid-row-start: 3;
  grid-row-end: 7;
  grid-column: 7;
}

.red-spawn {
  grid-area: 2 / 2 / 6 / 6;
  border: 5px solid red;
}

.red-square {
  background-color: red;
  border-radius: 100%;
  height: 100%;
  width: 100%;
}

.red-player {
  background-color: rgb(180, 0, 0);
}

.R-player1 {
  grid-column: 3;
  grid-row: 3;
}

.R-player2 {
  grid-column: 3;
  grid-row: 4;
}

.R-player3 {
  grid-column: 4;
  grid-row: 3;
}

.R-player4 {
  grid-column: 4;
  grid-row: 4;
}

.blue {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  grid-row-start: 9;
  grid-row-end: 14;
  grid-column: 8;
}

.blue2 {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  grid-row-start: 9;
  grid-row-end: 14;
  grid-column: 7;
}

.blue3 {
  display: flex;
  justify-content: space-around;
  grid-row: 9;
  grid-column-start: 3;
  grid-column-end: 7;
}

.blue-spawn {
  grid-area: 11 / 2 / 15 / 6;
  border: 5px solid blue;
}

.blue-square {
  background-color: blue;
  height: 100%;
  width: 100%;
  border-radius: 100%;
}

.blue-player {
  background-color: rgb(0, 0, 175);
}

.B-player1 {
  grid-column: 3;
  grid-row: 12;
}

.B-player2 {
  grid-column: 3;
  grid-row: 13;
}

.B-player3 {
  grid-column: 4;
  grid-row: 12;
}

.B-player4 {
  grid-column: 4;
  grid-row: 13;
}

.yellow {
  display: flex;
  justify-content: space-around;
  grid-row: 8;
  grid-column-start: 9;
  grid-column-end: 14;
}

.yellow2 {
  display: flex;
  justify-content: space-around;
  grid-row: 9;
  grid-column-start: 9;
  grid-column-end: 14;
}

.yellow3 {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  grid-row-start: 10;
  grid-row-end: 14;
  grid-column: 9;
}

.yellow-spawn {
  grid-area: 11 / 11 / 15 / 15;
  border: 5px solid yellow;
}

.yellow-square {
  background-color: yellow;
  border-radius: 100%;
  height: 100%;
  width: 100%;
}

.yellow-player {
  background-color: rgb(160, 160, 0);
}

.yellow-player,
.red-player,
.blue-player,
.green-player {
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 100%;
  height: 100%;
  width: 100%;
}

.Y-player1 {
  grid-column: 12;
  grid-row: 12;
}

.Y-player2 {
  grid-column: 12;
  grid-row: 13;
}

.Y-player3 {
  grid-column: 13;
  grid-row: 12;
}

.Y-player4 {
  grid-column: 13;
  grid-row: 13;
}

button {
  display: flex;
  margin-bottom: 0.5em;
  margin-left: 1em;
  margin-right: 1em;
  display: inline-block;
  padding: 15px 25px;
  font-size: 24px;
  cursor: pointer;
  text-align: center;
  text-decoration: none;
  outline: none;
  color: #fff;
  border: none;
  border-radius: 15px;
  box-shadow: 0 9px #999;
}
.green-button button {
  background-color: #4caf50;
}
.red-button button {
  background-color: #af4c4c;
}
.blue-button button {
  background-color: #4c4eaf;
}
.yellow-button button {
  background-color: #adaf4c;
}

.invisible {
  display: none;
}

.alternativ {
  display: flex;
  justify-content: center;
}

.placeholder {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: auto;
  border: solid black;
  font-size: 2em;
  width: 3em;
  height: 3em;
  margin-bottom: 0.5em;
}
.dice {
  display: flex;
  margin: auto;
  margin-bottom: 1em;
  background-image: linear-gradient(red, green, blue, yellow);
}

.green-button,
.red-button,
.blue-button,
.yellow-button {
  display: flex;
  flex-direction: column;
}

.result button {
  display: flex;
  justify-content: center;
  margin: auto;
  background-color: #9654cc;
}

.winner {
  font-size: 3em;
  text-align: center;
  margin-bottom: 1em;
}
